<p id="notice"><%= notice %></p>

<h1>Listing Residents for <%= @house.address %></h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Date of birth</th>
      <th>Id number</th>
      <th>Room number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residents.each do |resident| %>
      <tr>
        <td><%= resident.full_name %></td>
        <td><%= resident.date_of_birth %></td>
        <td><%= resident.id_number %></td>
        <td><%= resident.room_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', houses_path %>