<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @resident.full_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @resident.date_of_birth %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @resident.id_number %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @resident.room_number %>
</p>

<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Back', residents_path %>
